
<!-- Map fragment -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <main>
        <div id="tourChooser" class="tourChooser">
            <div class="tourList">
                <table>
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Beskrivelse</th>
                        </tr>
                    </thead>
                    <tbody id="tourChooserTable">
                    </tbody>
                </table>

                <div class="modalBtnFlex">
                    <button id="selectTourBtn" class="modalBtn">Vælg tur</button>
                    <button id="closeTourChooser" class="modalBtn">Luk</button>
                </div>

                <div class="instructionFlex">
                    <div id="instructions"></div>
                    <button id="arrivedBtn" class="arrivedBtn">Jeg er ankommet</button>
                </div>
            </div>
        </div>

        <div id="loadingPrompt" class="tourChooser">
            <h1>Indlæser tur</h1>
        </div>

        <section class="flex-container">
            <div id="map" class="map"></div>

            <div class="flex-sidebar">
                <button id="tourBtn" class="tourBtn">Vælg en tur!</button>
            </div>
        </section>
    </main>

    <script th:src="@{/JSs/map.js}"></script>

</html>