<!DOCTYPE html>
<html lang="en">


    <div id="tourChooser" class="tourChooser">
        <div class="tourList">
            <table>
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Beskrivelse</th>
                    </tr>
                </thead>
                <tbody id="tourChooserTable">
                    <tr id="tour_1" data-selected="no" data-id="27349">
                        <td>Spøgelseturen</td>
                        <td>Du bliver hjemsøgt, hvis du tager på denne faaaarlige tur</td>
                    </tr>
                    <tr id="tour_2" data-selected="no" data-id="7234928">
                        <td>Frøturen</td>
                        <td>Elsker du frølyde? Hedder du Janus? Dette er turen for dig</td>
                    </tr>
                </tbody>
            </table>

            <div class="modalBtnFlex">
                <button id="selectTourBtn" class="modalBtn">Vælg tur</button>
                <button id="closeTourChooser" class="modalBtn">Luk</button>
            </div>
        </div>
    </div>


    <div class="flex-container">
        <div id="map" class="map"></div>

        <button id="tourBtn" class="tourBtn">Vælg en tur!</button>
    </div>

    <!--Script to show map -->
    <script>

        setUpMap()
        setUpHandlers()



        function setUpMap() {
            let map = L.map('map').setView([55.3203, 15.1877], 16)

            let tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZ2Vvd2FsbCIsImEiOiJja3dvc28yeHkwNjBjMm9sMHB1NGlkdTJsIn0.-zQAF2T_9EOKLHEGnbUV4w', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
            }).addTo(map)
        }

        function setUpHandlers() {
            document.getElementById("tourBtn").onclick = showTourChooser
            document.getElementById("tourChooserTable").onclick = selectTour
            document.getElementById("selectTourBtn").onclick = chooseTour
            document.getElementById("closeTourChooser").onclick = closeTourChooser
        }

        function showTourChooser(){

            //TODO: Get list of tours from REST endpoint

            document.getElementById("tourChooser").style.display = "flex"
        }

        function selectTour(ev){
            let table = document.getElementById("tourChooserTable")
            let rowIndex = ev.target.parentElement.rowIndex
            let maxRows = table.rows.length

            for(let i = 1; i <= maxRows; i++){
                let row = document.getElementById("tour_" + i)
                if(i === rowIndex){
                    row.style.backgroundColor = "dodgerblue"
                    row.setAttribute("data-selected", "yes")
                }
                else{
                    row.style.backgroundColor = "transparent"
                    row.setAttribute("data-selected", "no")
                }
            }
        }

        function chooseTour(){
            let table = document.getElementById("tourChooserTable")
            let maxRows = table.rows.length

            for(let i = 1; i <= maxRows; i++){
                let row = document.getElementById("tour_" + i)
                if(row.getAttribute("data-selected") === "yes") {
                    let id = row.getAttribute("data-id")
                    getTour(id)
                    return
                }
            }
            alert("You need to select a tour")
        }

        function closeTourChooser(){
            document.getElementById("tourChooser").style.display = "none"
        }

        function getTour(id){
            alert("You got tour with id " + id)
        }
    </script>

</html>