<!DOCTYPE html>
<html lang="en">

    <div class="postOuterFlex">
        <div class="postTitleReportFlex">
            <h1 id="postTitle"></h1>
            <p id="postReport"></p>
        </div>
        <div class="postSoundFlex">

        </div>
        <div class="postImageFlex">

        </div>
        <div class="postAnimalFlex">

        </div>

    </div>

    <script>

        getPost()
        function getPost(){
            let id = sessionStorage.getItem("locationId")

            fetch("http://localhost:8080/location?id=" + id)
                .then((response) => {
                    return response.json()
                })
                .then((data) => {
                    document.getElementById("postTitle").innerText = data.title
                    document.getElementById("postReport").innerText = data.report
                    console.log(data)
                })
        }
    </script>
</html>