
<!-- Post fragment -->

<!DOCTYPE html>
<html lang="en">

    <section class="postOuterFlex">

        <section class="postTitleReportFlex">
            <h1 id="Title"></h1>
            <p id="Report"></p>
        </section>

        <section class="postSoundFlex" id="Sounds"></section>

        <section class="postImageFlex" id="Images"></section>

        <section class="postAnimalFlex" id="Animals"></section>

    </section>

    <script src="../../../static/JSs/post_fetch.js"></script>

</html>