
<!-- Head fragment -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


  <head>

    <meta charset="UTF-8">

    <!-- Text font as Varela Round-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="../../static/styles/sheets/global.css" th:href="@{/styles/sheets/global.css}" rel="stylesheet">
    <link href="../../static/styles/sheets/map.css" th:href="@{/styles/sheets/map.css}" rel="stylesheet">
    <link href="../../static/styles/sheets/post.css" th:href="@{/styles/sheets/post.css}" rel="stylesheet">
    <link href="../../static/styles/sheets/tour.css" th:href="@{/styles/sheets/tour.css}" rel="stylesheet">
    <link href="../../static/styles/sheets/button.css" th:href="@{/styles/sheets/button.css}" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

    <!-- Head style -->
    <title th:text="${head_title}"></title>

    <!-- Mapbox JS -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
  </head>
</html>