button{

    display: inline-block;
    width: 100px;

    background-color: grey;

    border-radius: 15px;
    border: 4px double #cccccc;

    color: #eeeeee;

    margin: 5px;
    padding: 7px;

    text-align: center;
    font-size: 12px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    cursor: pointer;
}

.modalBtnFlex {
    display: flex;
    flex-direction: row;
}

.modalBtn {
    margin: 5px;
}