button{
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 15px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 12px;
    padding: 7px;
    width: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.modalBtnFlex {
    display: flex;
    flex-direction: row;
}

.modalBtn {
    margin: 5px;
}