*{
    /* Makes everything in center */
    margin: 0 auto;
}

header{

    border-radius: 15px;
    border: 2px solid blue;

    background-image: linear-gradient(to bottom right, purple, cyan);

    margin: 30px 400px 20px;
    padding: 10px;

    font-size: 20px;
    text-align: center;

    width: 780px;

    color: black;

    box-shadow: 5px 5px gray;
}

body{
    height: 30px;

    /* Text */
    font-family: 'Varela Round', sans-serif;

    /* Background */
    background-image: url("/static/styles/style_images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 15em;
}

main{

    margin: 40px 400px 20px;
    margin-bottom: 500px;
    width: 800px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to bottom right, cyan, blue);

    /* */
    border: 2px solid blue;
    border-radius: 15px;
    box-shadow: 5px 5px gray

}


.flex-container{
    display: flex;
    margin: 10px;
    height: 100%;
    width: 100%;

    justify-content: center;
}

table, th, td {
    border: 1px solid black;
}

.flex-sidebar {
    display: flex;
    flex-direction: column;
}

.locationChooserFlex {
    display: flex;
    flex-direction: row;
}

#instructions {
    margin: 10px;
    top: 0;
    bottom: 20%;
    padding: 20px;
    overflow-y: auto;
}

.instructionFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
}