*{
    margin: 0 auto;
    justify-content: center;
}

header{

    border-radius: 15px;
    border: 2px solid blue;

    background-image: linear-gradient(to bottom right, purple, cyan);

    margin-bottom: 40px;
    margin-top: 40px;

    padding: 10px;

    font-size: 17px;
    text-align: center;

    width: 780px;

    color: black;

    box-shadow: 5px 5px gray;
}

body{
    height: 30px;

    /* Text */
    font-family: 'Varela Round', sans-serif;

    /* Background */
    background-image: url("/static/styles/style_images/background.png");
    background-size: cover;
}

.caption{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 15em;
}

main{
    width: 1000px;

    /* Order and display */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Background */
    background-image: linear-gradient(to bottom right, cyan, blue);

    /* Border */
    border: 2px solid blue;
    border-radius: 15px;
    box-shadow: 5px 5px gray

}

table, th, td {border: 1px solid black;}

ul{list-style: none;}

img {
    max-width: 70%;
    height: auto;
    width: auto\9;
}